.header {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 5;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    font-size: 15px;
    line-height: 17px;
    @extend %ubuntu-medium;
    text-transform: uppercase;
  }
  &__btn {
    color: #fff;
    background-color: transparent;
    padding: 6px 28px;
    border: 1px solid #fff;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: #000;
      background-color: #fff;
    }
  }
  &__phone {
    font-size: 16px;
    line-height: 18px;
    @extend %ubuntu-bold;
    padding-left: 8px;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__btn {
    display: none;
  }

  &__list-item {
    // display: inline-block;
    & + .menu__list-item {
      padding-left: 20px;
    }
  }
}
.menu__btn {
  transition: all 1s;
  &.menu__btn--active {
    .menu__btn-line {
      opacity: 0;
      transition: opacity 0.3s;
    }
    &::after {
      width: 24px;
      transform: translateY(-6px) rotate(-135deg);
    }
    &::before {
      transform: translateY(6px) rotate(135deg);
    }
  }
}
.menu {
  // order: 1;

  &__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
  }
  &__btn-line {
    transition: opacity 2s;
    background-color: #fff;
    display: block;
    width: 24px;
    height: 2px;
    position: relative;
    margin-bottom: 4px;
  }
  &__btn::before,
  &__btn::after {
    content: "";
    transition: transform 0.3s;
    width: 24px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 4px;

    display: block;
  }
  &__btn::after {
    width: 16px;
    margin-bottom: 0px;
    margin-left: auto;
  }
}
